@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.headerBg::after,.pricing-bg::after,.certification-bg::after,.contact-bg::after,.counter-bg::after,.services-bg::after,.about-bg::after,.blogs-bg::after,.portfolio-bg::after {
    content: "";
    position: absolute;
  z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../public/images/playground-bg.png");
    background-size: cover;
    background-repeat: repeat;

}
.headerBg {
  position: relative;
}
.headerBg::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/mountain-with-purple-moon-background.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  filter: blur(5px);
}

/*.counter-bg::after,*/
/*.headerBg::after,*/
/*.skills-bg::after,*/
/*.services-bg::after,*/
/*.portfolio-bg::after,*/
/*.blogs-bg::after,*/
/*.about-bg::after,*/
/*.contact-bg::after,*/
/*.certification-bg::after {*/
/*  content: "";*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background-image: url("../public/images/playground-bg.png");*/
/*  background-size: cover;*/
/*  background-repeat: repeat;*/
/*}*/
.header-slider-container {
  /* Or whatever className your Slider uses */
  position: relative;
  transform: translate(0, 0); /* Ensures transform works */
}

.counter-bg {
  position: relative;
}
.counter-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    318deg,
    rgba(107, 14, 219, 0.44) 4.75%,
    rgba(2, 104, 255, 0.22) 53.4%
  );
  background-size: cover;
  filter: blur(300px);
}

.skills-bg {
  position: relative;
}
.skills-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    318deg,
    rgba(20, 15, 179, 0.4),
    rgba(30, 3, 39, 0.78)
  );
  background-size: cover;
  filter: blur(300px);
}


.services-bg {
  position: relative;

}
.services-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(318deg, rgb(63, 0, 96), rgba(12, 19, 45, 0.8));
  filter: blur(300px);
}


.portfolio-bg {
  position: relative;

}
.portfolio-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(
    318deg,
    rgba(0, 164, 141, 0.38),
    rgba(41, 1, 79, 0.78)
  );
  background-size: cover;
  filter: blur(300px);
}

.blogs-bg {
  position: relative;
}
.blogs-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(
    318deg,
    rgba(66, 0, 62, 0.31),
    rgba(0, 42, 123, 0.57)
  );
  background-size: cover;
  filter: blur(300px);
}


.certification-bg {
  position: relative;
}

.certification-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(
    318deg,
    rgba(124, 72, 1, 0.4),
    rgba(41, 1, 79, 0.78)
  );
  background-size: cover;
  filter: blur(300px);
}


.pricing-bg {
  position: relative;
}
.pricing-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(
    318deg,
    rgba(124, 72, 1, 0.4),
    rgba(41, 1, 79, 0.78)
  );
  background-size: cover;
  filter: blur(300px);
}

.contact-bg {
  position: relative;

}
.contact-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(
    318deg,
    rgba(41, 3, 55, 0.77), rgba(23, 1, 128, 0.44)
  );
  background-size: cover;
  filter: blur(300px);
  overflow: hidden;
}

.footer-bg {
  position: relative;
  z-index: 1;
}
.footer-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../public/images/desktop-wallpaper-.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}




.animated-button {
  display: inline-block;
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

.animated-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;

  background-image: linear-gradient(
    100deg,
    rgb(77, 1, 171) 0%,
    rgb(14, 232, 239) 35%,
    rgb(101, 9, 215) 100%
  );
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.animated-button:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.active-button {
  display: inline-block;
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

.active-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(
    100deg,
    rgb(77, 1, 171) 0%,
    rgb(14, 232, 239) 35%,
    rgb(101, 9, 215) 100%
  );
  transform: scaleX(1);
  transform-origin: bottom left;
}

.about-bg {
  position: relative;
  z-index: 1;
}
.about-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(
    318deg,
    rgba(13, 111, 149, 0.6) 4.75%,
    rgba(151, 0, 200, 0.17) 53.4%
  );
  filter: blur(300px);
}

.mouseButton {
  animation: animatedMouse 5s steps(5);
  animation-duration: 5s;
  animation-direction: alternate-reverse;
}

@keyframes animatedMouse {
  0% {
    transform: rotate(45deg);
    transition: 5s;
  }
  25% {
    transform: rotate(-45deg);
    transition: 5s;
  }
  50% {
    transform: rotate(45deg);
  }
  75% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

.radial-gradient {
  background: radial-gradient(
    closest-corner,
    rgba(135, 0, 252, 0.55) 15.73%,
    rgba(221, 0, 255, 0.21) 15.74%,
    rgba(10, 30, 108, 0.42) 56.49%,
    rgb(24, 10, 52) 115.91%
  );
  background: -moz-radial-gradient(
    circle at center,
    rgba(192, 132, 252, 0.11) 15.73%,
    rgba(14, 165, 233, 0.41) 15.74%,
    rgba(232, 121, 249, 0.26) 56.49%,
    rgba(79, 70, 229, 0.4) 115.91%
  );
  background-position-y: center;
  background-attachment: fixed;
}
.skillsCard {
  transition: 0.5s ease-in-out;
}
.skillsCard:hover {
  box-shadow: -3px 3px 3px 3px #df00ff14;
  transform: rotate3d(45, 50, 5, -8deg) scale(1.1) scaleZ(-1.1);
  transition: 0.5s ease-in;
}

.portfolioCardAnimation {
  transition-duration: 0.5s;
  position: relative;
}
.portfolioCardImageContainer {
  position: relative;
  perspective: 400px;
  transition-duration: 0.5s;
}

.portfolioCardContainer:hover .portfolioCardAnimation {
  transform-style: preserve-3d;
  transform: rotateY(-60deg) scaleX(1.1);
  transition-duration: 0.5s;
}

.portfolioCardContainer .arrowIcon {
  right: 50px;
  transition: 0.5s ease-in;
}
.portfolioCardContainer:hover .arrowIcon {
  right: 0;
  transition: 0.5s ease-in;
}

/*.blogs-bg{*/
/*  background-image: url("../public/images/planet-3.jpg");*/

/*  background-size: contain;*/

/*}*/

/*logo ---------------------------*/

.rukonproLogo {
  position: relative;
  text-align: center;
}

.rukonproText {
  font-size: 60px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #ff6a00, #ee0979);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  opacity: 0;
}

.rukonproUnderline {
  width: 200px;
  height: 10px;
  background: purple;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.rukonproLaptop {
  width: 50px;
  height: 30px;
  background: linear-gradient(45deg, #6a00ff, #ff00ff);
  position: absolute;
  top: -30px;
  right: -50px;
  border-radius: 5px;
  opacity: 0;
}

/*Animated page*/

.animatedPage {
  transform-origin: center;
  backface-visibility: hidden;
  perspective: 1200px;
  width: 100%;
  height: 100%;
}

/*Animated footer bg image*/

.animatedFooterBgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/rukon-pro-footer-images.png");
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
